@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
.registration{
    display: flex;
    width:60%;
    margin:auto;
    justify-content: center;
    background-color: #F1F1F1;
    border-radius:20px;
    margin-top:4%;
    box-shadow:8px 8px 4px rgb(100, 100, 100);
    padding:20px;
    padding-top:0px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top:30px;
    height:70px;
}
.heading{
    display :flex;
    justify-content: center;
    font-size:40px;
    margin: -50px;
    font-family:'Dongle','sans-serif';
}

.profile{
    width:80px;
    height:80px;
    border-color:1px black solid;
    border-radius: 40px; 
    margin-left:100px;
}

.form{
    display:flex;
    column-gap: 100px;
}

.formgroup input{
    height:30px;
    width:300px;
    font-size:16px;
    margin:10px 0px;
    border-radius: 20px;
    padding:0px 8px;
    border:none;
    box-shadow: 2px 2px #d1d1d1;
}

.formgroup select{
    height:30px;
    width:320px;
    font-size:16px;
    margin:10px 0px;
    border-radius: 20px;
    padding:0px 5px;
    box-shadow: 2px 2px #d1d1d1;
}

.formgroup label{
    font-weight:600;
    display: block;
    font-size:34px;
    font-family:'Dongle','sans-serif';
    margin:-10px 0px;
}

.right{
    margin:10px;
}

.submit{
    display: flex;
    justify-content: center;
    margin-top:20px;
}

.btn_submit{
    height:40px;
    width:200px;
    background-color:#1e90ff;
    color:white;
    border:none;
    border-radius: 8px;
    font-size:20px;
}